<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <table class="table border border-danger">
                <tr>
                    <td>user</td>
                    <td>topic</td>
                    <td>completed</td>
                </tr>

                {%for timesheet in timesheets%}
<!--                               key = to get a value we take the key from dictionary -->
                <tr>
                    <td>{{timesheet.user}}</td>
                    <td>{{timesheet.topic}}</td>
                    <td>{{timesheet.complted}}</td>
                </tr>

                {%endfor%}

            </table>

        </div>
        <div class="col-4"></div>
    </div>
</div>

</body>
</html>